
.default{
  border-radius: 50%;
  position: absolute;
  &.ball1{
    width: 4em;
    height: auto;
  }
  &.ball2{
    width: 7em;
    height: auto;
  }
  &.ball3{
    width: 10em;
    height: auto;
  }
}