
.home {
  width: 100%;
  overflow: hidden;

  .boxHome {
    padding: 2em;
    display: flex;
    flex-direction: row;

    .content {
      width: 60%;
      text-align: left;
      font-size: 1.5em;
      .title{
        line-height: 1.2em;
        font-family: 'Amatic SC', cursive;
        font-size: 1.7em;
        letter-spacing: 0.04em;
        font-weight: 700;
      }
      .intro{
        margin-top: 1.5em;
        border: 0.2em dashed #ff861a;
        border-radius: 2em;
        padding: 2em;
        box-shadow: 10px 10px 17px #aaaaaa;
      }
    }
    .fly {
      width: 40%;
    }
  }
}

@media (max-width: 896px) {
  .home {
    width: 100%;

    .boxHome {
      display: block;
      .content {
        width: 100%;
        .title{
          width: 100%;
        }
        .intro{
          width: 100%;
        }
      }
      .fly {
        position: absolute;
        left: -32em;
        top: 15em;
        opacity: 0.1;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .home {
    width: 100%;
    .boxHome {
      display: block;
      padding: 1em;
      .content {
        width: 100%;
        .title{
          width: 100%;
        }
        .intro{
          width: 100%;
          margin-top: 1em;
          padding: 1em;
        }
      }

      .fly {
        width: 100%;
        position: absolute;
        top: 15%;
        left: -229%;
        opacity: 0.1;
      }
    }
  }
}