@keyframes appearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

strong {
  font-weight: bold;
}


.work {
  position: relative;
  width: 100%;
  height: 41.6em;
  overflow: hidden;
  a {
    &:hover {
      color: #3492eb;
    }
  }

  .row{
    margin-top: 7px;
  }

  .boxWork {
    .parts {
      align-items: center;
      margin: 3em;

      h3 {
        font-size: 2em;
        text-align: center;
        padding-bottom: 2em;
      }

      .endText {
        font-size: 1.5em;
        font-family: 'M PLUS Rounded 1c', sans-serif;
      }

      .owl-theme1 {
        .owl-dots {
          font-size: 4em;
        }
      }

      .product {
        animation: fadeInRight 1s ease-in-out;
        //padding: 2em;
        margin: 2em;

        img {
          box-shadow: 6px 8px 12px #888888;
          border-radius: 1em;
        }

        line-height: normal;

        .info {
          .name {
            text-align: center;
            margin-top: 15px;
            font-weight: bold;
          }
        }

        .description {
          margin-top: 15px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 896px) {
  .work {
    .boxWork {
      .parts {
        .product {

          img {
            //width: 20em;
            //height: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .work {
    .boxWork {
      .parts {
        margin: 0;
        padding: 3em 1em;

        .product {
          margin: 1em;
        }
      }
    }
  }
}
