.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ff861a;
  .navbar{
    display: flex;
    .itemNavbar{
      padding: 2em;
      color: #ffffff;
      &:hover{
        text-shadow: 2px 1px 3px #ffffff;
      }
    }
  }
}