.story {
  width: 100%;
  .contentBox{
    padding: 1em 2em;

    .bodyStory{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .parts {
        &:first-child{
          width: 30%;
          padding: 2em;
        }
        &:last-child{
          width: 70%;
        }
        .mobile {
          width: 20em;
          height: auto;
          animation: flip 5s;
        }
        .conversation{
          .title {
            text-align: center;
            font-family: 'Indie Flower', cursive;
            font-size: 1.3em;
            padding-bottom: 1em;
          }
          .openSences{
            font-size: 1.2em;
            font-family: 'Indie Flower', cursive;
            color: #3f3e3e;
            line-height: 1.3em;
            padding-bottom: 1em;
          }

          .mainStory{
            width: 77%;
            border: 0.2em dashed #3f3e3e ;
            border-radius: 0.5em;
            font-size: 1.1em;
            margin: 0 auto;
            box-shadow: 10px 10px 10px #aaaaaa;
            .box{
              padding: 1.5em;
              overflow-x: hidden;
              .greyText{
                width: fit-content;
                background-color: #bebebe;
                padding: 1em;
                border-radius: 0.8em;
                float: right;
                margin-bottom: 1.2em;
                .text1{
                  animation: wobble 10s alternate;
                }
                .text3{
                  animation: wobble 5s alternate;
                  animation-delay: 15s;
                }
                .text5{
                  animation: wobble 5s alternate;
                  animation-delay: 25s;

                }
                &:last-child{
                  margin-bottom: 0;
                }
              }
              .greenText{
                width: fit-content;
                background-color: lightgreen;
                padding: 1em;
                border-radius: 0.8em;
                clear: right;
                margin-bottom: 1.2em;
                .text2{
                  animation: wobble 5s alternate;
                  animation-delay: 10s;
                }
                .text4{
                  animation: wobble 5s alternate;
                  animation-delay: 20s;
                }
              }
            }


          }
          .endScenes{
            padding-top: 1em;
            font-family: 'Indie Flower', cursive;
            font-size: 1.2em;
            font-weight: lighter;
            color: #3f3e3e;
            text-align: center;
            clear: both;
            p:last-child{
              padding-top: 1em;
              font-size: 1.6em;
              font-weight: 600;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 896px){
  .story{
    .contentBox{
      padding: 1em;
      .bodyStory{

        .parts{
          .mobile{
            width: 12em;

          }
          &:first-child{

          }
          &:last-child{
            width: 100%;
            padding-right: 2em;
            .openSences{

            }
            .mainStory{
              width: 100%;
              .box{
                padding: 2em;
              }
            }
            .endScenes{
              padding-top: 2em;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 575.98px){
  .story{
    .contentBox{
      padding: 1em;
      .bodyStory{
        display: block;
        .parts{
          .mobile{
            width: 8em;
            position: absolute;
            left: 18em;
            top: 18em;
            opacity: 0.2;
          }
          &:first-child{
            width: 100%;
            margin: 0;
            padding: 0;
          }
          &:last-child{
            width: 100%;
            padding-right: 0;
            .openSences{
              padding-bottom: 2em;
            }
            .mainStory{
              width: 100%;
              .box{
                padding: 1em;
              }
            }
            .endScenes{
              padding-top: 3em;
            }
          }
        }
      }
    }
  }
}