*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
html{
  font-size: 16px;
  color: #1d1e1e;
}

a{
  color: #3f3e3e;
  text-decoration: none;
}
ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
